* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
body {
  background-color: #fafafa;
    overflow-y: scroll;
    transition: all 0.2s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.scroll {
  position: fixed;
  bottom: 35px;
  right: 35px;
  cursor: pointer;
  font-size: 38px;
  background-color: #fff;
  color: #202c37;
  border-radius: 50%;
  transition: all 0.2s;
}
.darkmode-light {
  background-color: #2b3945 !important;
  color: #ffffff !important;
}

.darkmode-bg {
  background-color: #202c37 !important;
  color: #ffffff !important;
}

.darkmode-light svg {
  color: white !important;
}
.darkmode-text {
  color: white !important;
}
.darkmode-light input {
  background-color: #2b3945 !important;
  color: #ffffff !important;
}

.darkmode-input input {
  background-color: #2b3945 !important;
  color: #ffffff !important;
}

.darkmode-input input::placeholder {
  color: white !important;
}
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 2%;
}

.filter-input {
  position: relative;
  display: flex;
  align-items: center;
}

.filter-input svg.search {
  position: absolute;
  font-size: 20px;
  color: #858585;
  left: 25px;
  top: 22px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.filter-input input {
  width: 380px;
  height: 48px;
  padding-left: 55px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 4px 0px rgb(0 0 0 / 24%);
  transition: all 0.2s;
}

.filter-input input::placeholder {
  color: #858585;
}

.filter-input svg.close-input {
  position: absolute;
  font-size: 20px;
  color: #858585;
  right: 0;
  top: 22px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.filter-select select {
  height: 48px;
  border-radius: 5px;
  padding: 0 15px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 4px 0px rgb(0 0 0 / 24%);
  transition: all 0.2s;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .filter {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
  }

  .filter-input {
      margin-bottom: 10px;
  }

  .filter-input input {
      width: 280px;
  }
}